* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

}

@font-face {
    font-family: raleway_f;
    src: url(../fonts/raleway-regular.woff2);
}

@font-face {
    font-family: raleway_f;
    src: url(../fonts/raleway-black.woff2);
    font-weight: 900;
}

.header-main {
}
.header-main__layers {
}

.layers__header {
}

.layers__caption {
}

.layers__title {
}

.layer {
}

.layers__base {
}
.layers__front {
}
.main-article {
}
.main-article__content {
}

.main-article__header {
}
.main-article__copyright {
}
